body{
    margin: 0;
}

#wrapper{
    height: 100px;
    width: 100%;
    background: #f5a80d;
    color: black;
    text-align: center;
    font-weight: normal;
    font-family: Verdana;
    font-size: 20px;
    display: table;
}

#panelTitle{
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

#go_out{
    margin-top: 30px;
    padding-top: 5px;
    margin-left: 147px;
}

.panel{
    text-decoration: none;
    padding: 10px;
    background-color: #0b0b0a;
    color: #f5a80d;
    font-family: Verdana;
    font-size: 13px;
}