

#message{
    height: 200px;
    width: 100%;
    text-align: center;
    background-color: #f5a80d;
    margin-top: 65px;
    color: white;
    font-family: Verdana;
    font-size: 15px;
    position: relative;
}


#information {
    margin-top: 55px;
    height: 90px;
    background-color: black;

}

#content{
    margin-top: 15px;
}


table {
    font-family: Verdana;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ffac0e;
    color: #ffac0e;
    border: 16px solid #ffac0e;
    border-radius: 20px;
}
th {
    font-size: 18px;
    padding: 10px;
}
td {
    background: #0f0909;
    padding: 10px;
    font-family: Verdana;
}

#table{
    margin-top: 95px;
    padding-bottom: 100px;
}

table{
    margin-left: auto;
    margin-right: auto;
}

.price{
    text-align: center;
}

#tariff{
    text-align: center;
    font-family: Verdana;
    font-weight: normal;
    font-size: 24px;
    margin-top: 85px;
}

.title{
    color: black;
    font-family: Verdana;
    text-align: center;
}

#distance_tariff{
    margin-top: 93px;
}

@media only screen and (max-width: 1200px) {
    .title{
        font-size: 15px;
    }
    .title_service{
        font-size: 14px;
    }
    .price{
        font-size: 14px;
    }


}

@media only screen and (max-width: 992px) {
    #table{
        margin-top: 75px;
    }
    #tariff{
        font-size: 20px;
        margin-top: 70px;
    }
    .title{
        font-size: 13px;
    }
    .title_service{
        font-size: 12px;
    }
    .price{
        font-size: 12px;
    }
    #message{
        margin-top: 35px;
        height: 180px;
    }

    #information {
        margin-top: 43px;
    }

    #content{
        margin-top: 17px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 768px){
    #table{
        margin-top: 35px;
        padding-bottom: 0;
    }
    #tariff{
        font-size: 14px;
        margin-top: 40px;
    }
    .title{
        font-size: 12px;
    }
    .title_service{
        font-size: 11px;
    }
    .price{
        font-size: 11px;
    }

    #distance_tariff{
        margin-top: 28px;
    }

    #information {
        margin-top: 45px;
    }

    #content{
        font-size: 12px;
        margin-top: 13px;
    }
}

@media only screen and (max-width: 480px){
    #information {
        margin-top: 38px;
        height: 100px;
    }

    #content{
        font-size: 11px;
        margin-top: 9px;
    }
}