* {
    box-sizing: border-box;
}
.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
@media only screen and (max-width: 1440px) {
    .container {
        width: 1170px;
    }
    .coll-lg-1 {
        width: 8.33333333%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-lg-2 {
        width: 16.66666667%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-lg-3 {
        width: 25%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-lg-4 {
        width: 33.33333333%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-lg-5 {
        width: 41.66666667%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-lg-6 {
        width: 50%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-lg-7 {
        width: 58.33333333%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-lg-8 {
        width: 66.66666667%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-lg-9 {
        width: 75%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-lg-10 {
        width: 83.33333333%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-lg-11 {
        width: 91.66666667%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-lg-12 {
        width: 100%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-offset-lg-1 {
        margin-left: 8.33333333%;
    }
    .coll-offset-lg-2 {
        margin-left: 16.66666667%;
    }
    .coll-offset-lg-3 {
        margin-left: 25%;
    }
    .coll-offset-lg-4 {
        margin-left: 33.33333333%;
    }
    .coll-offset-lg-5 {
        margin-left: 41.66666667%;
    }
    .coll-offset-lg-6 {
        margin-left: 50%;
    }
    .coll-offset-lg-7 {
        margin-left: 58.33333333%;
    }
    .coll-offset-lg-8 {
        margin-left: 66.66666667%;
    }
    .coll-offset-lg-9 {
        margin-left: 75%;
    }
    .coll-offset-lg-10 {
        margin-left: 83.33333333%;
    }
    .coll-offset-lg-11 {
        margin-left: 91.66666667%;
    }
    .coll-offset-lg-12 {
        margin-left: 100%;
    }
}
@media only screen and (max-width: 1200px) {
    .container {
        width: 970px;
    }
    .coll-md-1 {
        width: 8.33333333%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-md-2 {
        width: 16.66666667%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-md-3 {
        width: 25%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-md-4 {
        width: 33.33333333%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-md-5 {
        width: 41.66666667%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-md-6 {
        width: 50%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-md-7 {
        width: 58.33333333%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-md-8 {
        width: 66.66666667%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-md-9 {
        width: 75%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-md-10 {
        width: 83.33333333%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-md-11 {
        width: 91.66666667%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-md-12 {
        width: 100%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }

    .coll-offset-md-0 {
        margin-left: 0;
    }

    .coll-offset-md-1 {
        margin-left: 8.33333333%;
    }
    .coll-offset-md-2 {
        margin-left: 16.66666667%;
    }
    .coll-offset-md-3 {
        margin-left: 25%;
    }
    .coll-offset-md-4 {
        margin-left: 33.33333333%;
    }
    .coll-offset-md-5 {
        margin-left: 41.66666667%;
    }
    .coll-offset-md-6 {
        margin-left: 50%;
    }
    .coll-offset-md-7 {
        margin-left: 58.33333333%;
    }
    .coll-offset-md-8 {
        margin-left: 66.66666667%;
    }
    .coll-offset-md-9 {
        margin-left: 75%;
    }
    .coll-offset-md-10 {
        margin-left: 83.33333333%;
    }
    .coll-offset-md-11 {
        margin-left: 91.66666667%;
    }
    .coll-offset-md-12 {
        margin-left: 100%;
    }
}
@media only screen and (max-width: 992px) {
    .container {
        width: 750px;
    }
    .coll-sm-1 {
        width: 8.33333333%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-sm-2 {
        width: 16.66666667%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-sm-3 {
        width: 25%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-sm-4 {
        width: 33.33333333%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-sm-5 {
        width: 41.66666667%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-sm-6 {
        width: 50%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-sm-7 {
        width: 58.33333333%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-sm-8 {
        width: 66.66666667%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-sm-9 {
        width: 75%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-sm-10 {
        width: 83.33333333%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-sm-11 {
        width: 91.66666667%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-sm-12 {
        width: 100%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }

    .coll-offset-sm-0 {
        margin-left: 0;
    }

    .coll-offset-sm-1 {
        margin-left: 8.33333333%;
    }
    .coll-offset-sm-2 {
        margin-left: 16.66666667%;
    }
    .coll-offset-sm-3 {
        margin-left: 25%;
    }
    .coll-offset-sm-4 {
        margin-left: 33.33333333%;
    }
    .coll-offset-sm-5 {
        margin-left: 41.66666667%;
    }
    .coll-offset-sm-6 {
        margin-left: 50%;
    }
    .coll-offset-sm-7 {
        margin-left: 58.33333333%;
    }
    .coll-offset-sm-8 {
        margin-left: 66.66666667%;
    }
    .coll-offset-sm-9 {
        margin-left: 75%;
    }
    .coll-offset-sm-10 {
        margin-left: 83.33333333%;
    }
    .coll-offset-sm-11 {
        margin-left: 91.66666667%;
    }
    .coll-offset-sm-12 {
        margin-left: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .container {
        width: 450px;
    }
    .coll-exs-1 {
        width: 8.33333333%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-exs-2 {
        width: 16.66666667%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-exs-3 {
        width: 25%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-exs-4 {
        width: 33.33333333%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-exs-5 {
        width: 41.66666667%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-exs-6 {
        width: 50%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-exs-7 {
        width: 58.33333333%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-exs-8 {
        width: 66.66666667%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-exs-9 {
        width: 75%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-exs-10 {
        width: 83.33333333%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-exs-11 {
        width: 91.66666667%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-exs-12 {
        width: 100%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-offset-exs-0 {
        margin-left: 0;
    }
    .coll-offset-exs-1 {
        margin-left: 8.33333333%;
    }
    .coll-offset-exs-2 {
        margin-left: 16.66666667%;
    }
    .coll-offset-exs-3 {
        margin-left: 25%;
    }
    .coll-offset-exs-4 {
        margin-left: 33.33333333%;
    }
    .coll-offset-exs-5 {
        margin-left: 41.66666667%;
    }
    .coll-offset-exs-6 {
        margin-left: 50%;
    }
    .coll-offset-exs-7 {
        margin-left: 58.33333333%;
    }
    .coll-offset-exs-8 {
        margin-left: 66.66666667%;
    }
    .coll-offset-exs-9 {
        margin-left: 75%;
    }
    .coll-offset-exs-10 {
        margin-left: 83.33333333%;
    }
    .coll-offset-exs-11 {
        margin-left: 91.66666667%;
    }
    .coll-offset-exs-12 {
        margin-left: 100%;
    }
}
@media only screen and (max-width: 480px) {
    .container {
        width: 320px;
    }
    .coll-cus-1 {
        width: 8.33333333%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-cus-2 {
        width: 16.66666667%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-cus-3 {
        width: 25%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-cus-4 {
        width: 33.33333333%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-cus-5 {
        width: 41.66666667%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-cus-6 {
        width: 50%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-cus-7 {
        width: 58.33333333%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-cus-8 {
        width: 66.66666667%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-cus-9 {
        width: 75%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-cus-10 {
        width: 83.33333333%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-cus-11 {
        width: 91.66666667%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-cus-12 {
        width: 100%;
        float: left;
        position: relative;
        padding: 15px;
        padding-top: 0;
        min-height: 1px;
        overflow: hidden;
        height: 100%;
    }
    .coll-offset-cus-0 {
        margin-left: 0;
    }
    .coll-offset-cus-1 {
        margin-left: 8.33333333%;
    }
    .coll-offset-cus-2 {
        margin-left: 16.66666667%;
    }
    .coll-offset-cus-3 {
        margin-left: 25%;
    }
    .coll-offset-cus-4 {
        margin-left: 33.33333333%;
    }
    .coll-offset-cus-5 {
        margin-left: 41.66666667%;
    }
    .coll-offset-cus-6 {
        margin-left: 50%;
    }
    .coll-offset-cus-7 {
        margin-left: 58.33333333%;
    }
    .coll-offset-cus-8 {
        margin-left: 66.66666667%;
    }
    .coll-offset-cus-9 {
        margin-left: 75%;
    }
    .coll-offset-cus-10 {
        margin-left: 83.33333333%;
    }
    .coll-offset-cus-11 {
        margin-left: 91.66666667%;
    }
    .coll-offset-cus-12 {
        margin-left: 100%;
    }
}
.container {
    padding: 0 15px;
    margin: 0 auto;
    zoom: 1;
}
.container:before,
.container:after {
    content: "";
    display: table;
}
.container:after {
    clear: both;
}
.row {
    margin: 0 -15px;
    zoom: 1;
}
.row:before,
.row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
